.header-component {
    height: 80px;
    text-align: left;
    display: flex;
    background-color: black;

    .github-logo {
        height: 40px;
        width: 40px;
        flex-direction: column;
        align-self: center;
        margin-right: 15px;
        margin-left: 20px;
    }

    .github-project-name {
        flex-direction: column;
        align-self: center;
        color: white
    }
}